/* Base */
@import "base/variables.css";
@import "base/typography.css";
@import "base/layout.css";
@import "base/footer.css";

/* Components */
@import "components/hero.css";
@import "components/testimonial.css";
@import "components/animations.css";
@import "components/why.css";
@import "components/exams.css";
@import "components/cta.css";


/* Pages */
@import "pages/testimonials.css";
@import "pages/home.css";
